<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>一起 - 防疫日誌</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To access your current location. The app will still be funtional if you reject, but will be more inconvenient for you to enter location data.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
	<key>NSContactsUsageDescription</key>
	<string>The app will not use contacts info, please reject the access. You should never see this, please contact us</string>
	<key>NSCalendarsUsageDescription</key>
	<string>The app will not use calendars info, please reject the access. You should never see this, please contact us</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>The app will not use music usage info, please reject the access. You should never see this, please contact us</string>
	<key>NSMotionUsageDescription</key>
	<string>The app will not use motion usage info, please reject the access. You should never see this, please contact us</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>The app will not use speech recognition info, please reject the access. You should never see this, please contact us</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>To access your current location. The app will still be funtional if you reject, but will be more inconvenient for you to enter location data.</string>
</dict>
</plist>
